<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team7.voluntime">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_vt"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_vt_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Activities.RateVolunteerActivity"></activity>
        <activity android:name=".Activities.VolunteerDetailsActivity" />
        <activity
            android:name=".Activities.EventRegisterActivity"
            android:label="@string/title_activity_event_register"
            android:theme="@style/NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDaBGxcIqMndsJRBD1m_lt-h_5gnC6EK34" />

        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MainActivity" />
        <activity
            android:name=".Activities.CreateAccountActivity"
            android:label="@string/title_activity_create_account"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activities.EditVolunteerActivity"
            android:label="EditVolunteerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activities.EditCharityActivity"
            android:label="EditCharityActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activities.SetupActivity"
            android:label="@string/title_activity_setup"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activities.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activities.CreateEventActivity"
            android:label="@string/title_activity_create_event"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activities.LocationActivity"
            android:label="@string/title_activity_location"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activities.EventDetailsActivity"
            android:label="@string/title_event_details"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>